.nav-item{
    font-size: 1.1rem;
}
body{
    
    /*background:url(../img/background.png) no-repeat !important;
    background-size:cover;
    */
}

.header  {
  background: transparent !important;
}

.notificationUL{
	margin-bottom: 0
}

/* SECCION LIBROS */
.books-container img{
    height: 10rem;
    width: 7.5rem;
    border-radius: 0.3rem;
}

.book-row{
    height: 12rem;
}

/* cambiar mas adelante*/
.books-container .info2-container{
    height: 10rem;
    overflow: -webkit-paged-y;
}