.nav-item{
    font-size: 1.1rem;
}
body{
    
    /*background:url(../img/background.png) no-repeat !important;
    background-size:cover;
    */
}

.header  {
  background: transparent !important;
}

.notificationUL{
	margin-bottom: 0
}

/* SECCION LIBROS */
.books-container img{
    height: 10rem;
    width: 7.5rem;
    border-radius: 0.3rem;
}

.book-row{
    height: 12rem;
}

/* cambiar mas adelante*/
.books-container .info2-container{
    height: 10rem;
    overflow: overlay;
}

/* CAROUSEL */
.carousel-inner img{
	height:20rem;
	float:left;
	
}

.carousel-inner{
	height: 20rem;
    border-radius: 1.5rem;
	background-image: linear-gradient(-180deg, #efe6e60d, #9a9a9a);
}

.carousel-inner h3{
	text-align:center
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-inner .title1{
	text-shadow:0.25rem 0.2rem 0.4rem #17161669;
    text-align: center;
}

.carousel-inner .title2{
	font-size: 0.9rem; 
	font-family: 'Roboto', sans-serif;
	margin-bottom: -1.8%;
}

.truncate{
	font-style: italic;
}

/* BOOK FORM */
form img{
	height:20rem;
	width: 13.5rem;
}

#upload-img-btn{
	width: 13.5rem;
}